wikipedia-api~=0.5.4
pyttsx3~=2.90
vosk~=0.3.7
termcolor~=1.1.0
sounddevice~=0.4.4
soundfile~=0.12.1
pyautogui~=0.9.53
requests~=2.28.1
numpy
audioplayer~=0.6
python-dateutil~=2.6.0
pyyaml~=6.0
lingua-franca~=0.4.3

pyTelegramBotAPI~=4.7.1

uvicorn~=0.18.3
uvicorn[standard]~=0.18.3
fastapi~=0.81.0
starlette~=0.19.1
websockets~=10.3

torch~=1.12.1

time_machine~=2.8.2
snapshottest~=0.6.0

aioconsole~=0.6.1
