# Для работы Silero
torch~=1.12.1
numpy~=1.23.1

# Для чтения конфигов
pyyaml~=6.0

# Утилиты для работы с текстом
lingua-franca~=0.4.3

# Веб-сервер
uvicorn~=0.18.3
uvicorn[standard]~=0.18.3
fastapi~=0.81.0
starlette~=0.19.1
