body {
    background: #eee;

    --background-content: #FFF;
    --background-in-message: #AFA;
    --background-out-message: rgb(255, 210, 250);
    --background-card: #FBFBFB;

    --color-error: #F66;

    --z-index-header: 100;
    --z-index-overlay: 200;
}
