body {
    background: #eee;

    --background-content: #FFF;
    --background-in-message: #AFA;
    --background-out-message: rgb(255, 210, 250);
    --background-card: #FBFBFB;

    --color-error: #F66;

    --z-index-header: 100;
    --z-index-overlay: 200;

    --color-icon-button-default: #999;
    --color-icon-button-hover: #777;

    --color-link: #09c;

    font-family: Arial, Helvetica, sans-serif;
}

.icon-button, .icon-button:visited {
    color: var(--color-icon-button-default);
}

.icon-button:hover:not(:disabled), .icon-button:visited:hover:not(:disabled) {
    color: var(--color-icon-button-hover);
}
